<!-- <div class="searchbar__container">
  <mat-form-field class="full-width">
    <mat-label>Selecciona un estado</mat-label>
    <mat-select [formControl]="searchByState">
      <mat-option value="all">Todos</mat-option>
      <mat-option
        *ngFor="let state of statesList"
        [value]="state">
        {{ state }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
<div>
  <div class="charts__container">
    <general-chart
      *ngFor="let data of orderedList"
      [data]="data.data"
      [state]="data.state">
    </general-chart>
  </div>
</div>