<section class="login__container">
  <form [formGroup]="loginForm" class="login__form">
    <p class="title">
      Turistas
    </p>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button class="red__background button"
      (click)="adminLogin()" type="submit">
      INICIAR SESIÓN
    </button>
  </form>
</section>