.login__ {
  &container {
    min-height: 100vh;
    // background-color: #14B6EF;
    background-color: #FF5757;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &form {
    padding: 1em;
    width: calc(100% - 4em);
    margin: 0 auto;
    background-color: white;
    border-radius: 0.5em;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: "Dancing Script";
      font-size: 3em;
      text-align: center;
      margin: 0.5em auto;
    }
    .button {
      margin: 0.5em auto;
    }
  }
}