.sidenav__ {
  &container{
    padding: 1em;
    width: 10em;
    
    .actions__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
  &action {
    cursor: pointer;
    width: 100%;
    width:  4em;
    height: 4em;
    margin-bottom: 1em;
    text-decoration: none;
    color: white;
    // background-color: #14B6EF;
    background-color: #ededed;
    color: #b2b2b2;
    padding: 1em;
    border-radius: 100%;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .mat-icon {
      font-size: 3em;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  &link__active {
    // background-color: #14B6EF;
    background-color: #FF5757;
    color: white;
  }
}
.router__content {
  min-height: 100vh;
  
  .toolbar__container {
    background-color: #FF5757;
  
    .menu__buton {
      color: white;
    }
    .app__title {
      color: white;
      font-family: "Dancing Script" !important;
      font-size: 2em !important;
      text-align: center;
      margin: 0 auto;
    }
  }
}