<mat-sidenav-container>
  <mat-sidenav #touristsSidenav class="sidenav__container">
    <div class="actions__container">
      <a routerLink="/dashboard" class="sidenav__action"
        routerLinkActive="sidenav__link__active">
        <mat-icon>home</mat-icon>
        <p>Inicio</p>
      </a>
      <a class="sidenav__action" (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <p>Salir</p>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="router__content">
    <mat-toolbar>
      <mat-toolbar-row class="toolbar__container">
        <button mat-icon-button class="menu__buton" 
          (click)="touristsSidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <p class="app__title">Turistas</p>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>