/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}
.blue__background {
  background-color: #14B6EF;
  color: white;
}
.red__background {
  background-color: #FF5757;
  color: white;
}